@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=wEOhEADFm8hSaQTFG18FErVhsC9x-tarYfI&skey=96eb1234fcb38aea&v=v10) format('woff');
}
